[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "==9.5.0"
requests = "*"
numpy = "*"
nbconvert = "*"
paramiko = "*"
scp = "*"
streamlit-aggrid = "*"
pandas = "*"
streamlit = "*"
plotly = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
