[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "==9.5.0"
pandas = "*"
requests = "*"
numpy = "*"
streamlit = "*"
nbconvert = "*"
paramiko = "*"
scp = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
